version: "3"
services:
  app:
    volumes:
      - ./app:/home/pyuser/app:delegated
      - ./.packages:/home/pyuser/.local
      - app_user:/home/pyuser # for bash history etc
    command:
      - ./docker-start.override
    ports:
      - 3000:3000
    networks:
      development:
  # pg:
  #   ports:
  #     - $POSTGRES_PORT:5432
  #   networks:
  #     - development
  #   volumes:
  #     - ./.pg_data:/pg_data
  #     - db_root:/root # for bash history etc
#      - ./backup.sql.gz:/docker-entrypoint-initdb.d/seed.sql.gz
  notebook:
      environment:
      - AWS_CA_BUNDLE=/cert/ZscalerRootCertificate-2048-SHA256.crt
      - AWS_PROFILE
      - AWS_DEFAULT_REGION
    volumes:
      - ./notebook_data:/home/jovyan/work
      - $HOME/.aws:/home/jovyan/.aws:ro
    ports:
      - 8888:8888
networks:
  development:
volumes:
  app_user:
  db_root:
  
