version: "3"
services:
  app:
    volumes:
      - ./app:/home/pyuser/app:delegated
      - ./.packages:/home/pyuser/.local
      - app_user:/home/pyuser # for bash history etc
    command:
      - ./docker-start.override
    ports:
      - $APP_PORT:3000
    networks:
      development:
  db:
    ports:
      - $POSTGRES_PORT:5432
    networks:
      - development
    volumes:
      - ./.pgdata:/pgdata
      - db_root:/root # for bash history etc
#      - ./backup.sql.gz:/docker-entrypoint-initdb.d/seed.sql.gz
  notebook:
    volumes:
      - ./.notebook:/home/jovyan/work
    ports:
      - $NOTEBOOK_PORT:8888
networks:
  development:
volumes:
  app_user:
  db_root:
  
